<!DOCTYPE html>
<html lang='ru' xml:lang='ru' xmlns='http://www.w3.org/1999/xhtml'>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta name="viewport" content="width=device-width" />
<meta content='noindex, nofollow' name='robots'>
<title>{% yield 'title' %}</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{{ 'checkout' | global_javascript_tag }}
{% assign customer_checkout_css = 'custom_checkout.css' | asset_url %}
{% if customer_checkout_css %}
<link href='{{ customer_checkout_css }}' rel='stylesheet'>
{% endif %}
{% assign layouts_checkout = 'layouts.checkout.css' | asset_url %}
{% if layouts_checkout %}
<link href='{{ layouts_checkout }}' rel='stylesheet'>
{% endif %}
{% if settings.general-favicon-enabled %}<link rel="shortcut icon" type="image/png" href="{{ 'favicon.png' | asset_url }}" />{% endif %}
<script type="text/javascript">
	$('html').addClass('html_checkout');
</script>
</head>
<body class="adaptive">

{% include "header" with 'checkout' %}

<section class="section--content content_checkout">

	<div class="wrap row padded">
		<div class="body checkout">
			<div class='content-title page-title'>{% yield 'title' %}</div>
			{% yield 'flash_messages' %}
			<div id='top_info'>{% yield 'top_info' %}</div>

			<div class="grid-row">
				{% yield %}
				{% yield 'sidebar' %}
			</div>
		</div>

	</div>

</section>
	<script type="text/javascript" src="{{ 'js.cookie.js' | asset_url }}" ></script>
	<script type="text/javascript" src="{{ 'calculator_shipping.js' | asset_url }}" ></script>
	<script type="text/javascript" src="{{ 'redisign_checkout.js' | asset_url }}" ></script>
</body>
</html>

